.tab {
    &[data-active="true"] {
        background-color: rgb(200, 200, 200);
        transition: 200ms;
        border-radius: 8px !important;
        border-bottom: 0px;
        
        .tab__label {
            color: black;
        }
    }
}

.tab:hover {
    border-radius: 8px;
    border-bottom: 0px;
}

.tab__list {
    overflow-x: scroll;
    flex-wrap: nowrap !important;
    padding: 8px 0px;
}